.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin: 6px 0 0 0;
    display: flex;
    justify-content: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: flex;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon--link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__nav-hover:hover .header_qr {
    display: block;
}

.header__nav-item--strong {
    font-weight: 500;
}

/* Dấu gạch phân đôi menu  */
.header__navbar-item--separate {
    border-right: 1px solid #fb9086;
    padding-right: .8rem;
    margin-right: 0;
}

.header__navbar-icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon--link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.3rem;
    margin: 0 4px;
}

.no-poiter {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code  */
.header_qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 105%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr_dowload {
    height: 16px;
}

/* header__notify */
.header__notify {
    position: absolute;
    top: 125%;
    right: 0;
    width: 550px;
    background-color: var(--white-color);
    border: 0.8px solid #ecebeb;
    cursor: default;
    /* dịch chuyển tâm  */
    transform-origin: calc(100% - 40px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    border-radius: 2px;
}

/* Mũi tên nhọn xuống */
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -27px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item-link-hover:hover .header__notify {
    display: block;
    z-index: 99999;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-items {
    /* margin-bottom: 12px; */
    display: flex;
}

.header__notify-items:hover {
    background-color: #f7f7f7;
}

.header__notify-items--viewd {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    width: 100%;
    height: 65px;
    display: flex;
    margin-left: 12px;
    text-decoration: none;
}

.header__header-img {
    width: 46px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: .9rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 8px;
}

.header__notify-descrition {
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    width: 550px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth_form__policy-text {
    line-height: 1.2rem;
    font-size: .9rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 70px;
}

/* Cho  các thuộc tính sang <----------- bên cuối*/
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__social {
    margin-top: 18px;
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;

}

.auth-form__social--fb {
    color: var(--white-color) !important;
    background-color: #3A5A98 !important;
}

.auth-form__social--icons {
    font-size: 1.4rem;
}

.auth-form__social--fb .auth-form__social--icons {
    color: var(--white-color);
}

.auth-form__social-title {
    margin: 0 40px;
}

.auth-form__social--gg {
    color: var(--text-color) !important;
    background-color: var(--white-color) !important;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
}

.auth-form__aside .header__navbar-item--separate {
    margin: 0 12px;
    border-right: 1px solid #888;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}

/* Header  */
.header-with-search {
    height: var(--header-width-search);
    display: flex;
    align-items: center;

}

.header__logo {
    width: 250px;
}

.header__logo-img {
    width: 200px;
}

.header__search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

/* Cart  */
.header__card {
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.header__card-select {
    justify-content: left;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__card-list {
    display: block;
}

.header__card-list::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -30px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__card-icon {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__card-list {
    position: absolute;
    top: calc(100% + 5px);
    right: -3px;
    background-color: var(--white-color);
    width: 440px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__card-list--no-cart .header__cart-no-img,
.header__card-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-img {
    width: 54%;
    display: block;
}

.header__cart-list-no-cart-msg {
    display: block;
    font-size: 1.2rem;
    margin-top: 16px;
    color: var(--text-color);
}

.header__card-list--no-cart {
    padding: 24px 0;
}

/* Cart có sản phẩm */
.header__card-heading {
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-items {
    padding-left: 0;
    list-style: none;
    height: 30vh;
    /* cuộn  */
    overflow-y: auto;
}

.header__cart-items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.header__cart-items:hover {
    background-color: #f8f8f8;
}

.header__cart-items-img {
    width: 45px;
    height: 45px;
    margin: 4px 12px;
}

.header__cart-items-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-items-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-items-name {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    color: var(--text-color);
}

.header__cart-items-price {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-items-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-items-quantiti {
    font-size: 1rem;
    color: #757575;
}

.header__cart-items-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-items-description {
    color: #757575;
    font-size: 1rem;
    font-weight: 200;
}

.header__cart-items-remote {
    font-size: 1.2rem;
    margin: 4px;
    cursor: pointer;
}

.header__cart-items-remote a:hover {
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 12px;
    position: relative;
    cursor: pointer;

}

.header__search-select-laybel {
    font-size: 1.2rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #777474;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;

}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.2rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;

}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 6px);
    ;
    width: 164px;
    list-style: none;
    box-shadow: 0 1px 2px #dbd9d9;
    padding-left: 0;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f5e9e9;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Khi click vào  thì hiện form lịch sử tiềm kiếm*/
.header__search-input:focus~.header__search-history {
    display: block;
}

/* History search */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 32px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #adabab;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    color: #a19f9f;
    margin: 6px 16px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;

}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__cart-notice {
    position: absolute;
    top: -5px;
    right: -4px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: 2px solid #f53e2d;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    text-decoration: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -27px;
    z-index: -1;
}

/* .header__nav-user-item {} */

.header__nav-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    padding: 0 16px;
    margin: 4px 0;
}

.header__nav-user-item a:hover {
    background-color: #fafafa;
}

/* Container */
.app__container {
    background-color: #F5F5F5;
    margin-top: 2px;
}

.app__content {
    padding-top: 40px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    padding-left: 12px;
}

/* .category-item {} */

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 6px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    /* Chạy menu */
    transition: right liner 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home */
.home-flilter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-flilter_label {
    color: #555555;
    font-size: 1.2rem;
    margin-right: 16px;
}

.home-flilter__pages {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-flilter__btn {
    margin: 6px;
    min-width: 90px !important;
}

.home-flilter__pages-num {
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-flilter__pages-curent {
    color: var(--primary-color);
}

.home-flilter__page-control {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-flilter__page-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-flilter__page-btn--disnable {
    background-color: #f9f9f9;
    color: #a19f9e;
    cursor: default;
}

.home-flilter__page-btn:first-child {
    border-right: 1px solid #eeee;
}

/* Product */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    /* Hover nhô lên sd transion */
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    /* ảnh to thành trọng tâm */
    background-size: cover;
    background-position: center;
}

.home-product-item__name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 10px 2px 10px;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    /* Cùng một dòng */
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1rem;
    color: #666;
    /* Dấu gạch ngang */
    text-decoration: line-through;
}

.home-product-item__price-new {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-left: 8px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 2px 10px;
}

.home-product-item__like {
    font-size: 1.1rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

/* Đổi màu nút tym */
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

/* Đổi màu nút tym */
.home-product-item__rateting {
    font-size: .7rem;
    color: #d3d0d0;
}

.home-product-item__rateting-gold {
    color: #ffce3e;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.home-product-item__brand,
.home-product-item__origin-name {
    color: #535252;
    font-weight: 300;
}

/* .home-product-item__origin-name {} */

.home-product-item__favourite {
    position: absolute;
    left: -4px;
    top: 16px;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: .9rem;
    margin-left: 5px;
    color: var(--primary-color);
}

.home-product-item__sale {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-product-item__sale::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 23px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: .95rem;
    line-height: .95rem;
}

.home-product-item__label {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white-color);
    position: relative;
    top: -8px
}

.home-product-item__labels {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--primary-color);
    position: relative;
    top: 8px;
    font-weight: 500;
}

.home-product__pagination {
    margin: 44px 0 32px 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1rem;
    /* Viết hoa */
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__item-link {
    text-decoration: none;
    font-size: 1rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__item-link-icon {
    font-size: 1.4rem;
    margin: -1px 8px 0 0;
}

.footer__item-link:hover {
    color: var(--primary-color);
}

.footer__dowload {
    display: flex;
}

.footer__dowload-img {
    width: 90px;
    height: 90px;
    border: 1px solid var(--border-color);
}

.footer__app {
    flex: 1;
    margin-left: 16px;
}

.footer__dowload-app-img {
    height: 25px;
}

/* Product */
.header__navbar-products {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-products:hover .header__navbar-products-menu {
    display: block;
}

.header__navbar-products-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 8px);
    left: 32px;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-products-menu::before {
    content: "";
    border-width: 18px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    left: 0px;
    top: -25px;
    z-index: -1;
}

.header__nav-products-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    padding: 0 16px;
    margin: 0px 0;
}

.header__nav-products-item {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid #d1cbcb;
}

.header__nav-products-item:hover {
    background-color: var(--primary-color);
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.header_product-name {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.header_product-underline {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 16px;
}

.olicy__service {
    padding-left: 0px;
}

.policy {
    background-color: var(--white-color);
    box-shadow: 0 2px 2px #e0e0e0;
}

.policy__service-item {
    display: flex;
}

.policy__service-name {
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
}

.policy__service-descrition {
    display: block;
}

.policy__service-item-icon {
    color: #f53e2d;
}

.policy__service-img {
    width: 50px;
    height: 50px;
}

.policy__service-info {
    margin-left: 8px;
}

.policy__service-descrition {
    font-size: 1rem;
    font-weight: 300;
}

.policy__service-name:hover {
    color: var(--primary-color);
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin: 6px 0 0 0;
    display: flex;
    justify-content: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: flex;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon--link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__nav-hover:hover .header_qr {
    display: block;
}

.header__nav-item--strong {
    font-weight: 500;
}

/* Dấu gạch phân đôi menu  */
.header__navbar-item--separate {
    border-right: 1px solid #fb9086;
    padding-right: .8rem;
    margin-right: 0;
}

.header__navbar-icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon--link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.3rem;
    margin: 0 4px;
}

.no-poiter {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code  */
.header_qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 105%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr_dowload {
    height: 16px;
}

/* header__notify */
.header__notify {
    position: absolute;
    top: 125%;
    right: 0;
    width: 550px;
    background-color: var(--white-color);
    border: 0.8px solid #ecebeb;
    cursor: default;
    /* dịch chuyển tâm  */
    transform-origin: calc(100% - 40px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    border-radius: 2px;
}

/* Mũi tên nhọn xuống */
.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -27px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item-link-hover:hover .header__notify {
    display: block;
    z-index: 99999;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-items {
    /* margin-bottom: 12px; */
    display: flex;
}

.header__notify-items:hover {
    background-color: #f7f7f7;
}

.header__notify-items--viewd {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    width: 100%;
    height: 65px;
    display: flex;
    margin-left: 12px;
    text-decoration: none;
}

.header__header-img {
    width: 46px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: .9rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 8px;
}

.header__notify-descrition {
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    width: 550px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth_form__policy-text {
    line-height: 1.2rem;
    font-size: .9rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 70px;
}

/* Cho  các thuộc tính sang <----------- bên cuối*/
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__social {
    margin-top: 18px;
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;

}

.auth-form__social--fb {
    color: var(--white-color) !important;
    background-color: #3A5A98 !important;
}

.auth-form__social--icons {
    font-size: 1.4rem;
}

.auth-form__social--fb .auth-form__social--icons {
    color: var(--white-color);
}

.auth-form__social-title {
    margin: 0 40px;
}

.auth-form__social--gg {
    color: var(--text-color) !important;
    background-color: var(--white-color) !important;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
}

.auth-form__aside .header__navbar-item--separate {
    margin: 0 12px;
    border-right: 1px solid #888;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}

/* Header  */
.header-with-search {
    height: var(--header-width-search);
    display: flex;
    align-items: center;

}

.header__logo {
    width: 250px;
}

.header__logo-img {
    width: 200px;
}

.header__search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

/* Cart  */
.header__card {
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__card-list {
    display: block;
}

.header__card-list::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -30px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__card-icon {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__card-list {
    position: absolute;
    top: calc(100% + 5px);
    right: -3px;
    background-color: var(--white-color);
    width: 440px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__card-list--no-cart .header__cart-no-img,
.header__card-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.2rem;
    margin-top: 16px;
    color: var(--text-color);
}

.header__card-list--no-cart {
    padding: 24px 0;
}

/* Cart có sản phẩm */
.header__card-heading {
    text-align: left;
    margin: 12px 0 8px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-items {
    padding-left: 0;
    list-style: none;
    height: 30vh;
    /* cuộn  */
    overflow-y: auto;
}

.header__cart-items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.header__cart-items:hover {
    background-color: #f8f8f8;
}

.header__cart-items-img {
    width: 45px;
    height: 45px;
    margin: 4px 12px;
}

.header__cart-items-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-items-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-items-name {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    color: var(--text-color);
}

.header__cart-items-price {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-items-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-items-quantiti {
    font-size: 1rem;
    color: #757575;
}

.header__cart-items-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-items-description {
    color: #757575;
    font-size: 1rem;
    font-weight: 200;
}

.header__cart-items-remote {
    font-size: 0.8rem;
    cursor: pointer;
}

.header__cart-items-remote:hover {
    color: var(--primary-color);
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 12px;
    position: relative;
    cursor: pointer;

}

.header__search-select-laybel {
    font-size: 1.2rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #777474;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;

}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.2rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;

}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 6px);
    ;
    width: 164px;
    list-style: none;
    box-shadow: 0 1px 2px #dbd9d9;
    padding-left: 0;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f5e9e9;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Khi click vào  thì hiện form lịch sử tiềm kiếm*/
.header__search-input:focus~.header__search-history {
    display: block;
}

/* History search */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 32px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #adabab;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    color: #a19f9f;
    margin: 6px 16px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;

}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__cart-notice {
    position: absolute;
    top: -5px;
    right: -4px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: 2px solid #f53e2d;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    text-decoration: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -27px;
    z-index: -1;
}

/* .header__nav-user-item {} */

.header__nav-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    padding: 0 16px;
    margin: 4px 0;
}

.header__nav-user-item a:hover {
    background-color: #fafafa;
}

/* Container */
.app__container {
    background-color: #F5F5F5;
    /* margin-top: 2px; */
}

.app__content {
    padding-top: 40px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    padding-left: 12px;
}

/* .category-item {} */

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 6px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    /* Chạy menu */
    transition: right liner 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home */
.home-flilter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-flilter_label {
    color: #555555;
    font-size: 1.2rem;
    margin-right: 16px;
}

.home-flilter__pages {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-flilter__btn {
    margin: 6px;
    min-width: 90px !important;
}

.home-flilter__pages-num {
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-flilter__pages-curent {
    color: var(--primary-color);
}

.home-flilter__page-control {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-flilter__page-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-flilter__page-btn--disnable {
    background-color: #f9f9f9;
    color: #a19f9e;
    cursor: default;
}

.home-flilter__page-btn:first-child {
    border-right: 1px solid #eeee;
}

/* Product */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    /* Hover nhô lên sd transion */
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    /* ảnh to thành trọng tâm */
    background-size: cover;
    background-position: center
}

.home-product-item__name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 10px 2px 10px;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    /* Cùng một dòng */
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1rem;
    color: #666;
    /* Dấu gạch ngang */
    text-decoration: line-through;
}

.home-product-item__price-new {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-left: 8px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 2px 10px;
}

.home-product-item__like {
    font-size: 1.1rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

/* Đổi màu nút tym */
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

/* Đổi màu nút tym */
.home-product-item__rateting {
    font-size: .7rem;
    color: #d3d0d0;
}

.home-product-item__rateting-gold {
    color: #ffce3e;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.home-product-item__brand,
.home-product-item__origin-name {
    color: #535252;
    font-weight: 300;
}

/* .home-product-item__origin-name {} */

.home-product-item__favourite {
    position: absolute;
    left: -4px;
    top: 16px;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: .9rem;
    margin-left: 5px;
    color: var(--primary-color);
}

.home-product-item__sale {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-product-item__sale::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 23px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: .95rem;
    line-height: .95rem;
}

.home-product-item__label {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--white-color);
    position: relative;
    top: -8px
}

.home-product__pagination {
    margin: 44px 0 32px 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer__heading {
    font-size: 1rem;
    /* Viết hoa */
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__item-link {
    text-decoration: none;
    font-size: 1rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__item-link-icon {
    font-size: 1.4rem;
    margin: -1px 8px 0 0;
}

.footer__item-link:hover {
    color: var(--primary-color);
}

.footer__dowload {
    display: flex;
}

.footer__dowload-img {
    width: 90px;
    height: 90px;
    border: 1px solid var(--border-color);
}

.footer__app {
    flex: 1;
    margin-left: 16px;
}

.footer__dowload-app-img {
    height: 25px;
}

/* Product */
.header__navbar-products {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-products:hover .header__navbar-products-menu {
    display: block;
}

.header__navbar-products-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 8px);
    left: 32px;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    text-decoration: none;
    z-index: 2;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-products-menu::before {
    content: "";
    border-width: 18px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    left: 0px;
    top: -25px;
    z-index: -1;
}

.header__nav-products-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    display: block;
    padding: 0 16px;
    margin: 0px 0;
}

.header__nav-products-item {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid #d1cbcb;
}

.header__nav-products-item:hover {
    background-color: var(--primary-color);
}

.header_product-name {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.header_product-underline {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 16px;
}

.olicy__service {
    padding-left: 0px;
}

.policy {
    background-color: var(--white-color);
    box-shadow: 0 2px 2px #e0e0e0;
}

.policy__service-item {
    display: flex;
}

.policy__service-name {
    display: block;
}

.policy__service-descrition {
    display: block;
}

.policy__service-item-icon {
    color: #f53e2d;
}

.policy__service-img {
    width: 50px;
    height: 50px;
}

.policy__service-info {
    margin-left: 8px;
}

.policy__service-name {
    font-size: 1.3rem;
}

.policy__service-descrition {
    font-size: 1rem;
    font-weight: 300;
}

/* News */
.header__content {
    color: var(--primary-color);
    font-size: 1rem;
    padding-top: 24px;

}

.header__content-label {
    margin-top: 0;
    font-weight: bold;
}

.header__content-baner {
    display: flex;
    background-color: var(--white-color);
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 3px #e0e0e0;
    overflow: hidden;
    cursor: pointer;
}

.header__content-img {
    max-width: 600px;
    height: 400px;
    transition: transform 0.2s ease-in-out;
}

.header__content-img:hover {
    transform: scale(1.05);
}

.header__content-list {
    margin: 32px 32px;
}

.header__content-items {
    font-weight: 600;
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 3rem;
}

.header__content-items:hover {
    color: var(--primary-color);
}

.header__content-detail {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
}

.header__content-btn {
    margin-top: 16px;
}